<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  {% seo %}
</head>

<body>

  <header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      <p>This is a very good website that will improve your life</p>

      <image src="https://vignette.wikia.nocookie.net/starwars/images/0/04/Klaud-_Advanced_Graphics.png" alt="Klaud" style="width:300px;height:500px;">
        <p>This website is the shrine of all of the nice things in this universe, hence why it has won several wholesomeey awards</p>

        <image src="https://media.thv11.com/assets/KTHV/images/f415523c-2a77-4043-a4bb-f388b6f900a2/f415523c-2a77-4043-a4bb-f388b6f900a2_750x422.jpg" alt="Baby Yoda">
<iframe width="560" height="315" src="https://www.youtube.com/embed/9gpJm0xXoXs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
  </div>

  {% if site.google_analytics %}
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>
